/** Contains any specific theming overrides for my homepage **/

.tm-header {
    color: white;
    background-image: url("/images/twittering_machine.jpg");
    background-size: cover;
    padding: 4rem 1rem;
}
