/** Contains any specific theming overrides for my homepage **/

.tm-header {
    color: white;
    /* Darken the header image so text remains readable */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/twittering_machine.jpg");
    background-size: cover;
    padding: 4rem 1rem;
}
